In [1]:
x = 5
y="John"
print(x)
print(y)

5
John

In [2]:
x = 4
x="Sally"
x = 8
print(x)

8

In [3]:
x = str(3)
y=int(3)
z=float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [4]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [5]:
a = 4
A="Sally"
print(a)
print(A)

4
Sally

In [6]:
x,y,z="Orange", "banana","cherry"
print(x)
print(y)
print(z)

Orange
banana
cherry

In [7]:
x=y=z="Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [8]:
fruits=["apple","banana","cherry"]
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [9]:
x="Python"
y="is"
z="awesome"
print(x,y,z)

Python is awesome

In [10]:
x=5
print(type(x))
print(x)

<class 'int'>
5

In [11]:
x=1
y=2.8
z=1j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [12]:
x=1
y=35656222554887711
z=-3255522
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [13]:
x=1.10
y=1.0
z=-35.59
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [14]:
x=3+5j
y=5j
z=-5j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [15]:
x=1
y=2.8
z=1j
a=float(x)
b=int(y)
c=complex(x)
print(a)
print(b)
print(c)

1.0
2
(1+0j)

In [16]:
x=int(1)
y=int(2.8)
z=int("3")
print(x)
print(y)
print(z)

1
2
3

In [17]:
x=float(1)
y=float(2.8)
z=float("3")
w=float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [18]:
x=str("s1")
y=str(2)
z=str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

In [19]:
a="Hello"
print(a)

Hello

In [20]:
a="""Lorem ipsum dolor sit amet,consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

In [21]:
a="Hello, world!"
print(a[1])

e

In [ ]:
x=str("s1")
y=str(2)
z=str(3.0)
print(x)
print(y)
print(z)

In [22]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [23]:
a="Hello,World!"
print(len(a))

12

In [24]:
txt="The best things in life are free!"
print("free" in txt)

True

In [25]:
txt="The best things in life are free!"
if"free"in txt:
  print("Yes,'free'is present")

Yes,'free'is present

In [26]:
txt="The best things in life are free!"
print("expensive" not in txt)

True

In [27]:
b="Hello, World!"
print(b[2:5])

llo

In [28]:
a=b="Hello, World!"
print(b[:5])
print(b[2:])
print(b[-5:-2])
print(a.upper())
print(a.lower())

Hello
llo, World!
orl
HELLO, WORLD!
hello, world!

In [29]:
a=" Hello, World!"
print(len(a))
print(a.strip())
print(a.replace("H","J"))
print(a.split(","))

14
Hello, World!
 Jello, World!
[' Hello', ' World!']

In [30]:
a="Hello"
b="World"
c=a + b
print(c)

HelloWorld

In [31]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [33]:
a=200
b=33
if b>a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [34]:
print(bool("Hello"))
print(bool(15))

True
True

In [35]:
mylist=["apple","banana","cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [36]:
thislist=["apple","banana","cherry"]
print(len(thislist))

3

In [37]:
list1=["apple","banana","cherry"]
list2=[1,5,7,9,3]
list3=[True,False,False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [38]:
list1=["abc",34,True,40,"male"]
print(list1)

['abc', 34, True, 40, 'male']

In [39]:
thislist=list(("apple","banana","cherry","orange","kiwi","melon","mango"))
print(thislist[1])
print(thislist[-1])
print(thislist[2:5])
print(thislist[:4])
print(thislist[-4:-1])

banana
mango
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['orange', 'kiwi', 'melon']

In [40]:
thislist=["apple","banana","cherry"]
thislist.append("orange")
print(thislist)
thislist.insert(1,"orange")
print(thislist)
thislist.remove("banana")
print(thislist)
for x in thislist:
  print(x)
  for i in range(len(thislist)):
    print(thislist[i])

['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry', 'orange']
['apple', 'orange', 'cherry', 'orange']
apple
apple
orange
cherry
orange
orange
apple
orange
cherry
orange
cherry
apple
orange
cherry
orange
orange
apple
orange
cherry
orange

In [41]:
mytuple=("apple","banana","cherry")
thistuple=("apple","banana","cherry")
print(thistuple)
print(thistuple[-1])
print(thistuple[1])

('apple', 'banana', 'cherry')
cherry
banana

In [42]:
thistuple=("apple","banana","cherry","orange","kiwi","melon","mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [43]:
myset={"apple","banana","cherry"}
thisset={"apple","banana","cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [44]:
thisset={"apple","banana","cherry",True,1,2}
print(thisset)
thisset=("apple","banana","cherry")
print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}
('apple', 'banana', 'cherry')

In [45]:
set1={"abc,34,True,40,male"}
print(set1)

{'abc,34,True,40,male'}

In [46]:
thisset={"apple","banana","cherry"}
for x in thisset:
  print(x)

cherry
banana
apple

In [47]:
set1={"a","b","c"}
set2={1,2,3}
set3={"John","Elena"}
set4={"apple","banana","cherry"}
myset=set1.union(set2,set3,set4)
print(myset)

{1, 2, 3, 'a', 'John', 'Elena', 'cherry', 'b', 'banana', 'c', 'apple'}

In [48]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}
print(thisdict)
print(thisdict["brand"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford

In [49]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964,
    "year":2020
}
print(thisdict)
print(len(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
3

In [50]:
thisdict={
    "brand":"Ford",
    "electric":False,
    "year":1964,
    "colors":["red","white","blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [51]:
a=200
b=33
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [52]:
a=200
b=33
if b>a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [53]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [54]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [55]:
fruits=["apple","banana","cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [56]:
def my_function(fname):
  print(fname+"Refsnes")
my_function("Emil")
my_function("Tobias")
my_function("Linus")

EmilRefsnes
TobiasRefsnes
LinusRefsnes

In [57]:
def my_function(fname,lname):
  print(fname+" "+lname)
my_function("Emil","Refsnes")

Emil Refsnes

In [58]:
class MyClass:
  x=5
  p1=MyClass()
  print(p1.x)

NameError: name 'MyClass' is not defined

In [59]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
p1=Person("John",36)
print(p1.name)
print(p1.age)

John
36

In [60]:
def myfunc():
  x = 300
  print(x)

myfunc()

300

In [61]:
def myfunc():
  x = 300
  print(x)

myfunc()

300

In [62]:
x=300
def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [63]:
x=300
def myfunc():
  x=200
  print(x)

myfunc()

print(x)

200
300

In [64]:
def myfunc():
  global x
  x=300

myfunc()

print(x)

300

In [ ]:
name=input("Enter your name:")
print(f" hello{name}")